*{
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    margin: 0%;
    padding: 0%;
    background-color: #fff;
    margin-bottom: -100px;
    height: 100%;
}
header{
    z-index: 1;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    top:0;
    color:white;
    background-color: #470b7f;
}
.toggle{
    display: block;
    font-size: 1.6rem;
    cursor: pointer;
    z-index: 10;
}
.ouvrir{
    display: block;   
}
.fermer{
    display: none;
}
.open .ouvrir{
    display:none;
}
.open .fermer{
    display:block;
}
.nav{
    background-color: #470b7f;;
    position: fixed;
    height: 100%;
    width: 100%;
    top:-20px;
    left:-20px;
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-direction: column;
    align-items: center;
    transform: translatex(-110%);
    transition: transform 0.5s;
    z-index: 10;
}

.nav li,a{
    margin: 20px 0;
    padding: 10px 40px;
    font-size: 1.3em;
    text-decoration: none;
    color: white;
}
.hilfe{
    background-color: #8b8dd8;
    border-radius: 7px;
    border: 2px solid transparent;
}
.open .nav{
    transform: translatex(20px);
}
.open .nav a:hover{
    background-color:#5856ae;
}
.name span{
    color: #3E3BC0;
    font-weight: bold;
    font-size: 3em;
}
.car{       /*Style Logo fürs Logo*/
    font-size: 44px;
    color:#fff;
}
.h1{
    text-align: center;
    font-size: 30px;
}
.name span{
    color: #fff;
    font-weight: bold;
    font-size: 3em;
}
.werbung{
    display: flex;
    width: 70%;
    height: 150px;
    overflow: hidden;
    margin-left: 20%;
}
.werbung img{
    width: 300px;
    height: 150px;
    animation: werb 20s infinite;
}
/*animation für die Werbung */
 @keyframes werb{   
    0%{
        transform: translateX(0px);
    }
    20%{
        transform: translateX(-200.7px);
    }
    40%{
        transform: translateX(-403.2px);
    }
    60%{
        transform: translateX(-600.2px);
    }
    80%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(0);
    }
}
.bild{
    padding: 10px;
    grid-gap: 10px;
    place-items: center;
}
.bild img{
    width: 100px;
    height: 100px;
}
.main{
    display:grid;
    align-items: center;
    border: 1px solid rgb(3, 3, 3);
    margin: 10px;
    color: rgb(1, 1, 1);
    border-radius: 7px;
    box-shadow: 8px 8px 5px #470b7f;
    background-color: #f3f5f9;
}
.main img:nth-child(1){
   width: 80%;
   height: 80%;
   margin-left:10% ;
}
.main p{
    margin-left: 20px;
    margin-right: 10px;
}
.list_m{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 20px 0px 0px 0px;
    justify-content: space-around;
    border-bottom: 4px solid rgb(36, 5, 235);
    border-top: 4px solid rgb(42, 8, 237);
}
.list_m i{
    color: #77bb41;
}
#kik{
    display: none;
    font-size: 20px;
    top: -100px
}

#roue p{
    display: flex;
   
}
#roue{
    display: flex;
    justify-content: center;
    width: 5rem;
    padding: 0px 10px;
}
#kik1{
    display: none;
    font-size: 20px;
    top: -100px
}

#siege p{
    display: flex;
}
#siege{
    width: 6rem;
    padding: 0px 0px;
}
#kik2{
    display: none;
    font-size: 20px;
    top: -100px
}
#parechoc p{
    display: flex;
}
#parechoc{
    display:flex;
    width: 5rem;
    padding: 0px 0px;
}
.box img{
    cursor: pointer;
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

#photoContainer{
    overflow: hidden;
    display: grid;
    width: 300px;
    height: 200px;
}
#photoContainer img{
    position:absolute;
    width: 300px;
    height: 200px;
}

.d1{
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.coll{
    width: 30px;
    height: 30px;
    margin:2%;
    border-radius: 50%;
    border: 2px solid white;
}
.coll1{
    background-color: #135b23;
}
.coll2{
    background-color: #78725b;
}
.coll3{
    background-color: #789ac7;
}
#photoContainer .img3{
    position: relative;
    width: 140px;
    height: 80px;
    left: 26%;
    top: 70px;  
}

.down-arrow{
    margin-left:40%;
    width:70px;
    height:90px;
    animation: blink 1s infinite;
}
.einführ{
    align-items: center;
    margin: 0px 5%;
}

.liste-cachee {
    display: none;
    position:relative;
    width: 100%;
    text-align: center;
    overflow: auto;
    white-space: nowrap;
    border-bottom: 2px solid black;
}
.option_item{
    display: grid;
    border: 5px solid transparent;
    margin: 0px 5px;
    padding: 0px;
    
}

.checkbox:checked ~ .dick{
    border:5px solid rgb(229, 84, 104);  
}
.checkbox{
    position: absolute;
    display: none;
}
.dick{
    width: 200px;
    height: 200px; 
    justify-content: center;
    align-items: center;
    margin:10px 20px;
    border: 2px solid rgb(7, 4, 4); 
    border-radius: 7px;
    position:relative;
}
.croix{
    top:-1px;
    left:-1px;
    position: absolute;
    border: 20px solid ;
    border-color: rgb(229, 84, 104) transparent transparent  rgb(229, 84, 104);
}
.croix:before{
    content: "";
    position: absolute;
    top:-18px;
    left:-16px;
    width: 15px;
    height: 5px;
    border: 3px solid;
    border-color: transparent transparent #fff #fff;
    transform: rotate(-45deg);
}
@keyframes blink1 {
    0% { transform: scale(1); }
    25% { transform: scale(1.06); }
    50% { transform: scale(1.12); }
    75% { transform: scale(1.06); }
    100% { transform: scale(1); }
  }
.fa-arrow-right{
  animation: blink1 1s infinite;
}

.auto_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:auto;
    background-color: rgb(2, 2, 2);
    margin: 5px 10px;
    border-radius: 6px;
}
.dick:hover{
    box-shadow: 8px 8px 4px rgba(30, 27, 27, 0.5);
} 
.checkbox{
    position: absolute;
} 
.old-price {
    text-decoration:line-through;
    color: rgb(74, 71, 71);
    margin-left: 10px;
}
  
.new-price {
    margin-left: 10px;
    font-weight: bold;
    font-size: 30px;
    color: green;
}   
.war{
    border:none;
    color: white;
    font-size: 20px;
    background-color: #470b7f;
    border-radius: 10px;
    padding: 10px 20px;
    display:none; 
    position: relative;
    width: 230px;
    left :40%;
    place-content: center;    
    transition: transform 0.5s;

}
.war:hover{
    transform: scale(1.07);
}
.bild img{
    margin-bottom:10px ;
}
#beschreibung{
    background-color: #fff;
    width: 100%;
    border:1px solid black;
    justify-content: center;
    font-size: 20px;
    margin: 5px 20px 0px 20px;
    border-radius: 2px 5px 7px 9px;
}

.auto{
    margin: 0px 10px;
    border-radius: 10px;
}
#auto1, #auto2, #auto3{
    display: none;
}
.ti1{
    text-align: center;
}
.hidden {
    display: grid;

} 
.faq{
    display: grid;
    margin: 0;
    margin-bottom:20px;
}
.chevron{
    content: " ";
    position:absolute;
    width: 9px;
    height:9px;
    border: 2px solid ;
    border-color: #000000 transparent transparent rgb(3, 3, 3);
    transform: rotate(-140deg);
    right:10%;
}
.question {
    cursor: pointer;
    font-weight: bold;
    border-top: 2px solid black;
    margin: 10px 5%;
    padding: 2px;
}
.answer {
    display: none;
    margin-left: 7%;
}
.answer a{
    color: blue;
    font-size: 20px;
    text-decoration: underline;
    margin: 0;
    padding: 0px;
}
.cart{
    margin: 0 7px;
    color: #1d4486;
}
.it{
    text-align: center;
    font-size: 20px;
}
/* Anfang Style für den Footer*/
footer{
    display: grid;
    text-align: center;
    color: white;
    background-color:#470b7f;
    width:100%;
    padding-top:15px;
    margin-bottom:0px;
    clear: both;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.foot{          /*Style für jede Teile des Footers*/
    display: grid;
    padding: 15px 0;
    font-size: 15px;
}
.titel{         /*Style für den Titel jeden Teile des Footers*/
    font-size: 20px;
}
/*Style für den Teil Service*/
.tit{ 
    margin-bottom: 10%;
}
.lo img{
    height:25px;
    width:25px;
}
.fooo{
    padding-bottom: 0%;
}
.foo1{          /*Style für die Linksservice im Footer*/
    color: white;
    text-decoration: none;
    font-size: 15px;
    margin: 10px;
    margin-right:30%;
    position: relative;
    margin-left: 100px;
    bottom: 40px;
    font-size: 1rem;
}
.foo1:hover{
    margin-top: 9%;
    border-radius: 7px;
    border: 1px solid transparent;
    background-color: rgb(25, 243, 105);
}
.foo1{
    list-style-type: none;
    display: grid;
    flex-direction: column;
    align-items: center;
    padding: 1px;
    margin: 5px 10%;
}

i{
    color: #000000;
}

/*Style für den Teil Arbeitstage*/
.iListTage{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    margin-left: 17%;
}
.iListTage li{
    margin: 10px;
}
.ti{
    margin-top: 0%;
}
#zeit{
    font-size: 1rem;
}
/*Style für den Teil Folge Uns*/
.foot .iLink-icone{  
    align-items: center;
    padding: 5px;
    margin:0px 3px;
}
#add{
    margin-top: 0%;
}
.icon{
    color: #fff;
}
i{
    color: white;
}

 @media screen and (min-width:800px){
    .toggle{
        display: none;
    }
    .nav{
        transform: translateX(0);
        background-color: transparent;
        position: relative;
        display: flex;
        flex-direction:row;
        transition: transform 0s;
        width: auto;
        margin: 10px 0px 0px 0px;
        padding: 0px;
  
    }
    .nav a{
        display: flex;
        justify-content: space-between;
        padding:10px;
        margin: -20px;
        margin-right: -40px;
        color: white;
        font-size: 1.1rem;
        border-radius: 5px;
    }
    .nav a:hover{
        background-color: #4fc03b;
        color: white;
        border-radius: 6px;
        transform:translateY(-5px);
    }
    .nav a i{
        margin-right:5px;
    }
    .nav .hilfe{
        background-color: #4fc03b;
        color: white;
        border-radius: 6px;
        padding: 10px 20px;
        font-size:20px;
    }
    
    header{
        display: flex;
        padding-bottom: 0px;
        margin-bottom: -30px;
        background-color:#470b7f;
        z-index: 1;
        height: 6em;
    }
    .name{
        color: rgb(248, 245, 245);
        font-size: 30px;
        margin-top: -1.9%;
    }
    .name span{
        color: white;
        font-size: 1.9em;
    }
    .car{
        font-size: 2.6rem;
    }
    hr{
       border: transparent;
    }
    #pub{
        margin-top: auto;
        height: 250px;
        width: 100%;
    }
    .werbung{
        margin: 4% 0% 0 0;
        padding: 0%;
        width: 100%;
        height: auto;
    }
    .werbung img{
        width: 500px;
        height: 200px;
        border: 5px solid transparent;
   
    }
    .h1{
        font-size: 50px;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
    .main{
        margin: 20px 10%;

    }
    .main p{
        font-size: 20px;
    }
    .down-arrow{
        display: none;
    }
    .box{
        display:flex;
    }
    .beschreibung{
        width: auto;
        height: auto;
    }
    .bild{
        width: 50%; 
    }

    .auto_box{
        width: 50%;
        justify-content: center;
        margin-top: 2%;
    }
    #liste-sieges{
        display: flex;
    }
    .dick{
        margin: 5%;
    }

    #roue:hover, #siege:hover, #parechoc:hover{
        background-color:#7674db;
        color:white;
    }
    #siege{
        background-color: #12121a;
        color: white;
    }
    #roue, #siege, #parechoc{
        margin: 0% 1px;
    }
    .list_m{
        display: inline-flex;
    }
    #photoContainer{
        padding: 0%;
    }
    #photoContainer img{
        width:40%;
        margin-bottom: 5%;
        left:57%;
        height: 30%;
    }
    #photoContainer .img3{
        position: relative;
        width: 65%;
        height: 100px;
        left: 25%;
        top: 100px;  
    }
    .d1{
        margin-top: 80px;
    }
    .coll{
        width: 40px;
        height: 40px;
    }
    #warenkorbbtn{
        height: 40px;
        width: 250px;
    }
    #warenkorbbtn i{
        color: white;
    }
    .faq{
        width: 70%;
        margin: 0% 7%;
    }
    .answer{
        margin-left: 7%; 
    }
    .question{
        font-size: 20px;
    }
    .chevron{
        right: 30%;
    }
    footer{
        width: 100%;
        position: relative;
        display: flex;
        flex-flow: row wrap;
        padding-top: 30px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #470b7f;
    }
    footer .foot{
        position: static;
        margin: 5%px;
    }
    footer .foot:nth-child(3){
        display: flex;
        flex-direction: column;

    }
    .foot .name{
        position: relative;
        top:50%;
        margin-left: 30px;
    }
    
    footer .lo{
        margin-top: 20px;
    }
    .iListTage{
        display: grid;
        flex-direction: column;
        margin: 20px 40% 20px 0 ;
        align-items: center;
    }
    #zeit{
        position: relative;
        bottom: 40px;
        margin-right: 35px;
    }
    
    .foo1{
        position: relative;
        bottom: 40px;
    }
    .folge{
        display: flex;
        flex-direction: column;
        margin-left: 9%;
    }
    .fooo{
        margin-left: 10%;
    }
    .kontakt{
        margin-left: 10%;
    }
    #addKont{
        position: relative;
        top: -30%;
    }
    .fo {
        margin-left: 9%;
    }
    #add{
        position: relative;

    }
    #copi{
        padding-top: 50px;
        margin-left: 9%;

    }
    i{
        color: white;
    }
} 